.choice-container{
    display: flex;
   
    width: 70%;
    font-size:20px;
    border: 1.4px solid #a476ff;
    background-color: white;
    margin: 8px auto;

}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 6.4px 10px #b682ff;
    transform: translateY(-2px);
    transition: 200ms;
}

.choice-letter{
    padding:24px 40px;
    background-color:#a476ff;
    color: white;
    text-align: center;

}
.choice-text{
    padding: 24px;
}